body {
    /* background-image: url('i1.jpg'); 
    background-repeat: no-repeat; */

    background: url('hotel.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}